water_level_flows.json
[
    {
        "id": "e2b1b562878515e0",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "df38b061d5e701ba",
        "type": "mqtt out",
        "z": "e2b1b562878515e0",
        "name": "water_level_1(pub)",
        "topic": "water_level_1",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a99c25f3fa0e7660",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "165ea282cab8052c",
        "type": "mqtt out",
        "z": "e2b1b562878515e0",
        "name": "water_level_2(pub)",
        "topic": "water_level_2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a99c25f3fa0e7660",
        "x": 330,
        "y": 180,
        "wires": []
    },
    {
        "id": "01fd5227838b0268",
        "type": "mqtt out",
        "z": "e2b1b562878515e0",
        "name": "water_level_3(pub)",
        "topic": "water_level_3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a99c25f3fa0e7660",
        "x": 330,
        "y": 240,
        "wires": []
    },
    {
        "id": "e1eabea1840ec149",
        "type": "mqtt in",
        "z": "e2b1b562878515e0",
        "name": "water_level_1(sub)",
        "topic": "water_level_1",
        "qos": "2",
        "datatype": "utf8",
        "broker": "a99c25f3fa0e7660",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "f44c19d496dd3ecd"
            ]
        ]
    },
    {
        "id": "39a16ee9f0c61371",
        "type": "mqtt in",
        "z": "e2b1b562878515e0",
        "name": "water_level_2(sub)",
        "topic": "water_level_2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a99c25f3fa0e7660",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "1ac2b589adbc0a9d"
            ]
        ]
    },
    {
        "id": "be06e67365e543f6",
        "type": "mqtt in",
        "z": "e2b1b562878515e0",
        "name": "water_level_3(sub)",
        "topic": "water_level_3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a99c25f3fa0e7660",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "1e43e131d1613fad"
            ]
        ]
    },
    {
        "id": "f44c19d496dd3ecd",
        "type": "function",
        "z": "e2b1b562878515e0",
        "name": "function 1",
        "func": "let sensor = msg.payload;\nlet return_msg = \"\";\nif (sensor == 1) {\n    msg.payload = \"water_level_1 감지됨\";\n    return msg;\n} else {\n    msg.payload = \"water_level_1 감지되지 않음\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "4c3fb5695feb9a72"
            ]
        ]
    },
    {
        "id": "1ac2b589adbc0a9d",
        "type": "function",
        "z": "e2b1b562878515e0",
        "name": "function 2",
        "func": "let sensor = msg.payload;\nlet return_msg = \"\";\nif (sensor == 1) {\n    msg.payload = \"water_level_2 감지됨\";\n    return msg;\n} else {\n    msg.payload = \"water_level_2 감지되지 않음\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            [
                "4c3fb5695feb9a72"
            ]
        ]
    },
    {
        "id": "1e43e131d1613fad",
        "type": "function",
        "z": "e2b1b562878515e0",
        "name": "function 3",
        "func": "let sensor = msg.payload;\nlet return_msg = \"\";\nif (sensor == 1) {\n    msg.payload = \"water_level_3 감지됨\";\n    return msg;\n} else {\n    msg.payload = \"water_level_3 감지되지 않음\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": "1",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 440,
        "wires": [
            [
                "4c3fb5695feb9a72"
            ]
        ]
    },
    {
        "id": "4c3fb5695feb9a72",
        "type": "debug",
        "z": "e2b1b562878515e0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "fa88176f4a1b1f99",
        "type": "rpi-gpio in",
        "z": "e2b1b562878515e0",
        "name": "water_level_1",
        "pin": "4",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "df38b061d5e701ba"
            ]
        ]
    },
    {
        "id": "8291919ead274256",
        "type": "rpi-gpio in",
        "z": "e2b1b562878515e0",
        "name": "water_level_2",
        "pin": "14",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "165ea282cab8052c"
            ]
        ]
    },
    {
        "id": "ad3ec18c6865b3be",
        "type": "rpi-gpio in",
        "z": "e2b1b562878515e0",
        "name": "water_level_3",
        "pin": "15",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "01fd5227838b0268"
            ]
        ]
    },
    {
        "id": "a99c25f3fa0e7660",
        "type": "mqtt-broker",
        "name": "",
        "broker": "/LCD",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]